<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--author KasiaBM -->
<!--version June 3, 2015 -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>MacRaZy Guestbook Entries</title>
        <h:outputStylesheet name="style.css" library="css"/>
    </h:head>
    <h:body>
        <h1>MacRaZy Guestbook</h1>
        <h3>Our guests' entries so far:</h3>
        <ul>
            <ui:repeat value="#{guestbookBean.guestbookEntries}" 
                       var="entry">
                <li>#{entry.toString()}</li>
            </ui:repeat>
        </ul>
        <p><h:outputLink value="index.xhtml">Return to our home page
            </h:outputLink></p>
    </h:body>
</html>