<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--author KasiaBM -->
<!--version June 3, 2015 -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>MacRaZy Guestbook Home</title>
        <h:outputStylesheet name="style.css" library="css"/>
    </h:head>
    <h:body>
        <h1>Welcome to MacRaZy Guestbook!</h1>
        <h:form>
            <p>Please add your name, email address and message in the form below:</p>
            <p><em>All fields are required and must contain valid information</em></p>
            <h:panelGrid columns="3">
                <h:outputText value="Your name:"/>
                <h:inputText id="nameInputText" required="true" size="42"
                             requiredMessage="Please enter your name"
                             value="#{guestbookBean.name}"
                             validatorMessage="Name must be 30 characters or less">
                    <f:validateLength maximum="30"/>
                </h:inputText>
                <h:message for="nameInputText" styleClass="error"/>
                <h:outputText value="Your email address:"/>
                <h:inputText id="emailInputText" required="true" size="42"
                             requiredMessage="Please enter your email"
                             value="#{guestbookBean.email}"
                             validatorMessage="Invalid email address format">
                    <f:validateRegex pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w)*"/>
                </h:inputText>
                <h:message for="emailInputText" styleClass="error"/>
                <h:outputText value="Your message:"/>
                <h:inputTextarea id="messageInputText" required="true" 
                             rows="5" cols="40"
                             requiredMessage="Please enter your message"
                             value="#{guestbookBean.message}"
                             validatorMessage="Message must be 200 characters or less">
                    <f:validateLength maximum="200"/>
                </h:inputTextarea>
                <h:message for="messageInputText" styleClass="error"/>
            </h:panelGrid>
            <h:commandButton type="submit" value="Submit" action="#{guestbookBean.setGuestbookEntry()}"/>
            <h:commandButton type="reset" value="Reset" action="#{guestbookBean.resetFields()}"/>
        </h:form>
        <p><h:outputLink value="guestbookEntries.xhtml">
                Click here to view all MacRaZy GuestBook entries!</h:outputLink></p>
    </h:body>
</html>